<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body text-center">
      <h1><i class="fab fa-node-js fa-3x"></i></h1>
      <p>Create an account or login</p>
      <a href="/users/register" class="btn btn-primary btn-block mb-2"
        >Register</a >
      <a href="/users/login" class="btn btn-secondary btn-block">Login</a>
      <div class="col-sm-6">
        <div class="well">
            <h3 class="text-primary"><span class="fa fa-facebook"></span> Facebook</h3>
            <h3 class="text-danger"><span class="fa fa-google-plus"></span> Google</h3>
            <p>your are successfully logged into your social media  account </p>




        </div>
    </div>

    </div>
  </div>
</div>
